body {
    background-color: aqua;
    text-align: center;

}

p {
    border: 1px solid white;
    background-color: white;
    color: purple;
    margin-top: none;
    margin-left: 500px;
    margin-right: 500px;
    font-weight: 800;
    padding: 10px;
    border-radius: 20px;
    font-size: 40px;
    padding: 5px;

}

#main1 {
    margin-top: -69px;
}